body {
  background: #322f2f;
}
.clock {
  font-size: 4em;
  text-align: center;
  margin: 200px auto;
  color: rgb(136, 255, 0);
  font-family: arial;
}
.clock span {
  padding: 20px;
  background: #444;
  border-radius: 15px;
}
